#!/usr/bin/env bash

export PROJECT_SHELL
export PROJECT_NAME
export PROJECT_DIR

PROJECT_SHELL="devenv"
PROJECT_NAME=$(basename "$(pwd)")
PROJECT_DIR=$(pwd)

# https://github.com/nix-community/nix-direnv
if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
	echo "direnv: loading nix-direnv..."
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
else
	echo "direnv: nix-direnv is already loaded"
fi

nix_direnv_watch_file devenv.nix
nix_direnv_watch_file devenv.lock
nix_direnv_watch_file devenv.yaml

use_flake --impure .#${PROJECT_SHELL}

export PROJECT_NAME
export PROJECT_SHELL
export PROJECT_DIR
