#!/usr/bin/env bash

export PROJECT_SHELL
export PROJECT_NAME
export PROJECT_DIR

PROJECT_SHELL="devenv"
PROJECT_NAME=$(basename "$(pwd)")
PROJECT_DIR=$(pwd)

echo "Launching configured development environment for ${PROJECT_NAME}..."
use_flake --impure .#
