# Ignore Nix result file.
result

# VSCode
!.vscode/
.vscode/**
!.vscode/settings.json

# Ignore dev env vars.
.devenv
**/.devenv
**/.devenv*
**/devenv.local.nix

# Ignore direnv
.direnv
**/.direnv

# Ignore TODOs
TODO/

# Ignore local environment variables
.env

# Ignore the pre-commit hook config
.pre-commit-config.yaml
